<h1>Estadísticas</h1>
<br>

<p>Número de preguntas: <%= numeroPreguntas %></p>
<p>Número de comentarios: <%= countComentarios %></p>
<p>Número de preguntas sin comentarios: <%= pregSinComment %></p>
<p>Número de preguntas con comentarios: <%= pregConComment %></p>
<p>Numero de comentarios por pregunta: <%= medio %></p>